<body class="flex-col" ondragover="dragOverOther(event)">
    <div class="header flex-space">
        <div class="left-header flex-center bold">ACADEMIC PLANNING</div>
        <div class="right-header flex-row">
            <div class="student-info flex-center">
                <div class="top-info flex-row">
                    <div class="info-titles flex-col bold">
                        <div>Student: </div>
                        <div>Catalog: </div>
                    </div>
                    <div class="info-pid flex-col">
                        <div id="studentUser"></div>
                        <div id="catalogYear"></div>
                    </div>
                </div>
                <div class="top-info flex-row">
                    <div class="info-titles flex-col bold">
                        <div>Major: </div>
                        <div>Plan : </div>
                    </div>
                    <div class="info-pid flex-col">
                        <div id="major"></div>
                        <div id="planName"></div>
                    </div>
                </div>
            </div>
            <div class="dropbtn flex-row flex-center" onclick="window.location.href = '/plans';">
              Back
            </div>
        </div>
    </div>
    <div class="upper flex-row">
        <div class="upper-left flex-col">
            <div class="quad-header flex-center">Requirements</div>
            <div class="quad-content">
                <div id="accordion"></div>
            </div>
        </div>
        <div class="upper-right flex-col">
            <div class="quad-header flex-center">
                <div class="spacer"></div>
                <div class="name" id="student"></div>
                <div class="hours" id="totalCredits"></div>
            </div>
            <div class="quad-content">
                <div class="plan flex-col" id="planArea"></div>
            </div>
        </div>
    </div>
    <div class="lower flex-row">
        <div class="lower-left flex-col">
            <div class="quad-header flex-center">Tic-Tac-Toe</div>
            <div class="quad-content flex-col flex-center">
                <div class="ticRow flex-row flex-center">
                    <div class="ticCol flex-center" id="ul" onclick="updateTicTacToe(event)"></div>
                    <div class="ticCol flex-center" id="uc" onclick="updateTicTacToe(event)"></div>
                    <div class="ticCol flex-center" id="ur" onclick="updateTicTacToe(event)"></div>
                </div>
                <div class="ticRow flex-row flex-center">
                    <div class="ticCol flex-center" id="cl" onclick="updateTicTacToe(event)"></div>
                    <div class="ticCol flex-center" id="cc" onclick="updateTicTacToe(event)"></div>
                    <div class="ticCol flex-center" id="cr" onclick="updateTicTacToe(event)"></div>
                </div>
                <div class="ticRow flex-row flex-center">
                    <div class="ticCol flex-center" id="ll" onclick="updateTicTacToe(event)"></div>
                    <div class="ticCol flex-center" id="lc" onclick="updateTicTacToe(event)"></div>
                    <div class="ticCol flex-center" id="lr" onclick="updateTicTacToe(event)"></div>
                </div>
            </div>
            <div class="nav-button flex-center" onclick="resetTicTacToe()">Reset</div>



        </div>
        <div class="lower-right flex-col">
            <div class="quad-header flex-center">Course Finder</div>
            <div class="margin">
                <table id="table">
                    <thead>
                        <tr>
                            <th>Course</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Credits</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <script>
        makePlan(location.href);
    </script>
</body>
